<section>
    <h2>Heading helper</h2>

    <p>For each heading you can use directly the html tag or the class equivalent to the html tag with the style you want to reproduce</p>

    <div class="heading-row">
        {% for index in 1..6 %}
            <div class="heading-row__item">
                <h{{ index }}>Heading {{ index }}</h{{ index }}>

                <p>
                    <code>&lt;h{{ index }}&gt;Heading {{ index }}&lt;/h{{ index }}&gt;</code> or
                    <code>&lt;h1 class="h{{ index }}"&gt;Heading {{ index }}&lt;/h1&gt;</code>
                </p>
            </div>
        {% endfor %}
    </div>
</section>
